Repository Minecraft-Java-Edition-Speedrunning/legal-mods, pull requests merged in 2024-05, with the labels that each got.

#35 Change `set-spawn` to `setspawnmod` in readme.md
  readme.md
Labels: documentation

#43 Update external mods & replace sodium for 1.17.1 and 1.18.2
  legal-mods/fabricproxy-lite/1.20.5-1.20.6/FabricProxy-Lite-2.8.0.json
  legal-mods/krypton/1.20.5-1.20.6/krypton-0.2.7.json
  legal-mods/lithium/1.20.5/lithium-fabric-mc1.20.5-0.12.2.json
  legal-mods/lithium/1.20.6/lithium-fabric-mc1.20.6-0.12.3.json
  legal-mods/sodium/1.17.1/sodium-1.17.1-v1.jar
  legal-mods/sodium/1.17.1/sodium-fabric-mc1.17.1-0.3.4+build.13.json
  legal-mods/sodium/1.18.2/sodium-1.18.2-v1.jar
  legal-mods/sodium/1.18.2/sodium-fabric-mc1.18.2-0.4.1+build.15.json
  legal-mods/sodium/1.20.5/sodium-fabric-0.5.8+mc1.20.5.json
  legal-mods/sodium/1.20.6/sodium-fabric-0.5.8+mc1.20.6.json
Labels: needs-leaderboard-mod

#41 planifolia (speedrun sodium features for 1.17+)
  legal-mods/planifolia/1.17-1.17.1/planifolia-1.0.0+1.17.x.jar
  legal-mods/planifolia/1.18-1.18.2/planifolia-1.0.0+1.18.x.jar
  legal-mods/planifolia/1.19-1.20.6/planifolia-1.0.0+1.19+.jar
Labels: new mod, needs-leaderboard-mod

#39 1.20.6 ports (atum, fastreset 1.4.3, state-output 1.1.7)
  legal-mods/atum/1.20.6/atum-1.2.2+1.20.6.jar
  legal-mods/fastreset/1.19.4-1.20.4/fast-reset-1.4.2+1.19.4-1.20.4.jar
  legal-mods/fastreset/1.19.4-1.20.6/fast-reset-1.4.3+1.19.4-1.20.6.jar
  legal-mods/setspawnmod/1.19-1.20.6/setspawnmod-1.0.0+1.19-1.20.4.jar
  legal-mods/sleepbackground/1.20-1.20.6/sleepbackground-3.9-1.20.x.jar
  legal-mods/state-output/1.18.2-1.20.4/state-output-1.1.6+1.18.2-1.20.4.jar
  legal-mods/state-output/1.18.2-1.20.6/state-output-1.1.7+1.18.2-1.20.6.jar
Labels: mod compatibility, mod update, mod port, needs-leaderboard-mod

#40 retino
  conditional-mods.json
  legal-mods/retino/1.14+/retino-1.0.1.json
Labels: new mod, needs-leaderboard-mod

#38 update wp 1.14 port to 5.0.0, fix transparency, preview quit button becoming inactive without qutting, and xraying on first built chunk
  legal-mods/worldpreview/1.14.4/worldpreview-2.3.3+1.14.4.jar
  legal-mods/worldpreview/1.14.4/worldpreview-5.0.0+1.14.4.jar
Labels: mod update, needs-leaderboard-mod

#34 Allow more versions for forceport
  legal-mods/forceport/1.14+/forceport-1.2.0.jar
Labels: mod compatibility, needs-leaderboard-mod

#37 fix dynamic menu fps modid inconsistencies and remove obsolete 1.15 version (it has the wrong modid)
  legal-mods/dynamicfps/1.15.2/dynamic-fps-2.0.4-but-different.jar
  legal-mods/dynamicmenufps/1.16.1/dynamic-menu-fps-0.1.jar
  legal-mods/dynamicmenufps/1.3-1.12.2/mangodfps-1.1.0-1.3-1.12.jar
Labels: documentation, mod removal, needs-leaderboard-mod

#33 costar for 1.9-1.12
  legal-mods/costar/1.12/costar-1.0.0+1.12.jar
  legal-mods/costar/1.9-1.12/costar-1.0.0+1.9-1.12.jar
Labels: new mod, needs-leaderboard-mod

#31 1.12.0 ports
  legal-mods/atum/1.12/atum-1.2.1+1.12.jar
  legal-mods/dynamicfps/1.12/mangodfps-1.1.0+1.12.jar
  legal-mods/forceport/1.12/forceport-1.2.0+1.12.jar
  legal-mods/motiono/1.12/legacy-motioNO-1.0.0+1.12.jar
  legal-mods/setspawnmod/1.12/set-spawn-1.0.0+1.12.jar
  legal-mods/speedrunigt/1.12/SpeedRunIGT-13.6+1.12.jar
  legal-mods/standardsettings/1.12/standardsettings-1.2.2+1.12.jar
  legal-mods/state-output/1.12/state-output-1.1.6+1.12.jar
  legal-mods/tabfocus/1.12/tab-focus-2.0.4+1.12.jar
  legal-mods/z-buffer-fog/1.12/z-buffer-fog-1.3+1.12.jar
Labels: mod port, needs-leaderboard-mod

#30 lazydfu for 1.13.2
  legal-mods/lazydfu/1.13.2/lazydfu-0.1.2-1.13.2.jar
Labels: mod port, needs-leaderboard-mod

#46 add StandardSettings port for 1.20.5-1.20.6
  legal-mods/standardsettings/1.20.5-1.20.6/standardsettings-1.2.3+1.20.5-1.20.6.jar
Labels: mod port, needs-leaderboard-mod

#48 add standardsettings-1.2.4+1.20.x
  legal-mods/standardsettings/1.20.5-1.20.6/standardsettings-1.2.3+1.20.5-1.20.6.jar
  legal-mods/standardsettings/1.20.x/standardsettings-1.2.4+1.20.x.jar
Labels: needs-leaderboard-mod

#51 costar 1.0.1
  legal-mods/costar/1.12/costar-1.0.0+1.12.jar
  legal-mods/costar/1.12/costar-1.0.1+1.12.jar
  legal-mods/costar/1.9-1.11.2/costar-1.0.1+1.9-1.11.2.jar
  legal-mods/costar/1.9-1.12/costar-1.0.0+1.9-1.12.jar
Labels: mod update
