Repository Minecraft-Java-Edition-Speedrunning/legal-mods, pull requests merged in 2024-06, with the labels that each got.

#63 sleepbackground 1.14.3 support
  legal-mods/sleepbackground/1.14-1.14.4/sleepbackground-3.9-1.14.x.jar
  legal-mods/sleepbackground/1.14-1.14.4/sleepbackground-3.9.1-1.14.x.jar
Labels: mod port

#60 standardsettings 1.2.2 for 1.3-1.6.4
  legal-mods/standardsettings/1.3.1-1.3.2/standardsettings-1.2.2+1.3.x.jar
  legal-mods/standardsettings/1.4-1.4.7/standardsettings-1.2.2+1.4.x.jar
  legal-mods/standardsettings/1.5-1.5.2/standardsettings-1.2.2+1.5.x.jar
  legal-mods/standardsettings/1.6-1.6.4/standardsettings-1.2.2+1.6.x.jar
Labels: mod port

#59 extra options 2.0.0
  legal-mods/extra-options/1.12/extra-options-2.0.0+1.12.jar
  legal-mods/extra-options/1.13.2/extra-options-2.0.0+1.13.2.jar
  legal-mods/extra-options/1.14-1.14.4/extra-options-1.0.1+1.14.x.jar
  legal-mods/extra-options/1.14-1.15.2/extra-options-2.0.0+1.14-1.15.2-20w14inf.jar
  legal-mods/extra-options/1.15-1.15.2/extra-options-1.0.1+1.15.x.jar
  legal-mods/extra-options/1.16-1.16.1/extra-options-1.0.1+1.16.1.jar
  legal-mods/extra-options/1.16-1.16.1/extra-options-2.0.0+1.16.1.jar
  legal-mods/extra-options/1.3-1.3.2/extra-options-2.0.0+1.3.x.jar
  legal-mods/extra-options/1.4-1.5.2/extra-options-2.0.0+1.4-1.5.2.jar
  legal-mods/extra-options/1.6-1.6.4/extra-options-2.0.0+1.6.x.jar
  legal-mods/extra-options/1.7-1.7.9/extra-options-2.0.0+1.7-1.7.9.jar
  legal-mods/extra-options/1.7.10/extra-options-2.0.0+1.7.10.jar
  legal-mods/extra-options/1.8-1.8.1/extra-options-2.0.0+1.8.jar
  legal-mods/extra-options/1.8.2-1.12.2/extra-options-2.0.0+1.8.2-1.12.2.jar
Labels: mod update, mod port

#58 Accessibility update
  conditional-mods.json
  legal-mods/motiono/1.12/legacy-motioNO-1.0.0+1.12.jar
  legal-mods/motiono/1.14-1.16.1/motioNO-1.0.2+1.14-1.16.1.jar
  legal-mods/motiono/1.3-1.7.10/legacy-motioNO-1.0.0+1.3-1.7.jar
  legal-mods/motiono/1.8-1.13.2/legacy-motioNO-1.0.0+1.8-1.13.jar
  readme.md
Labels: enhancement, mod update, mod removal
