Repository Minecraft-Java-Edition-Speedrunning/legal-mods, pull requests merged in 2024-02, with the labels that each got.

#3 [Mod Update] Legalize voyager 1.0.1
  legal-mods/voyager/1.14-1.16.5/voyager-1.0.0.jar
  legal-mods/voyager/1.14-1.16.5/voyager-1.0.1.jar
Labels: mod update

#4 [New Mod] Legalize no-paus 1.0.1
  legal-mods/no-paus/1.3.1-1.3.2/no-paus-1.0.1+1.3.1-1.4-alpha.12.32.a.jar
Labels: new mod

#6 statsperworld 1.2 for 1.3-1.5.2
  legal-mods/statsperworld/1.3-1.5.2/StatsPerReset-1.2+1.3.x-1.5.x.jar
  legal-mods/statsperworld/1.3-1.5.2/StatsPerWorld-1.1+1.3.x-1.5.x.jar
Labels: mod update

#8 dynamic-fps 1.1.0 1.3-1.12.2
  legal-mods/dynamicfps/1.3-1.12.2/mangodfps-1.1.0-1.3-1.12.jar
  legal-mods/dynamicfps/1.7.10/mangodfps-1.0.1-SNAPSHOT+1.7.x.jar
  legal-mods/dynamicfps/1.8.9/mangodfps-1.0.1-SNAPSHOT+1.8.9.jar
  legal-mods/dynamicfps/1.8/mangodfps-1.0.2-SNAPSHOT+1.8.jar
Labels: mod update, port

#9 motiono 1.3.1-1.16.1
  legal-mods/motiono/1.14-1.16.1/motioNO-1.0.2+1.14-1.16.1.jar
  legal-mods/motiono/1.15-1.15.2/motioNO-1.0.0+1.15.jar
  legal-mods/motiono/1.16-1.16.1/motioNO-1.0.1+1.16.jar
  legal-mods/motiono/1.3-1.7.10/legacy-motioNO-1.0.0+1.3-1.7.jar
  legal-mods/motiono/1.8-1.13.2/legacy-motioNO-1.0.0+1.8-1.13.jar
Labels: port

#13 chunkcacher 1.19+ & 1.18-1.18.1
  legal-mods/chunkcacher/1.18-1.18.1/chunkcacher-1.3.1+1.18-1.18.1.jar
  legal-mods/chunkcacher/1.18.2/chunkcacher-1.18-1.18.2-3.0.0.jar
  legal-mods/chunkcacher/1.19-1.20.4/chunkcacher-1.3.2+1.19-1.20.4.jar
Labels: port

#15 standalone state-output
  legal-mods/state-output/1.13.2/state-output-1.1.5+1.13.2.jar
  legal-mods/state-output/1.14-1.15.2/state-output-1.1.5+1.14-1.15.2.jar
  legal-mods/state-output/1.16-1.17.1/state-output-1.1.5+1.16-1.17.1.jar
  legal-mods/state-output/1.18-1.20.4/state-output-1.1.5+1.18-1.20.4.jar
  legal-mods/state-output/1.3-1.5.2/state-output-1.1.5+1.3-1.5.2.jar
  legal-mods/state-output/1.6-1.7.10/state-output-1.1.5+1.6-1.7.10.jar
  legal-mods/state-output/1.8-1.12.2/state-output-1.1.5+1.8-1.12.2.jar
Labels: new mod

#18 sodium 1.1.1+1.15.2 & 2.0.2+1.16.1
  legal-mods/sodium/1.15.2/sodium-1.1.1+1.15.2.jar
  legal-mods/sodium/1.15.2/sodium-1.15.2-v1.jar
  legal-mods/sodium/1.16.1/sodium-1.16.1-v2.jar
  legal-mods/sodium/1.16.1/sodium-2.0.2+1.16.1.jar
  legal-mods/sodiummac/1.16.1/sodiummac-1.16.1-v3.jar
  legal-mods/sodiummac/1.16.1/sodiummac-3.0.1+1.16.1.jar
Labels: mod update

#20 worldpreview 5.0.0 for 1.15.2 and 1.16.1
  legal-mods/worldpreview/1.15.2/worldpreview-4.0.1+1.15.2.jar
  legal-mods/worldpreview/1.15.2/worldpreview-5.0.0+1.15.2.jar
  legal-mods/worldpreview/1.16.1/worldpreview-4.0.2+1.16.1.jar
  legal-mods/worldpreview/1.16.1/worldpreview-5.0.0+1.16.1.jar
Labels: mod update

#21 starlight 1.14 and 1.17
  legal-mods/starlight/1.14.2-1.14.4/starlight-1.14.4-1.0.0.jar
  legal-mods/starlight/1.17-1.17.1/starlight-1.0.0+fabric.73f6d37.json
  legal-mods/starlight/1.17-1.17.1/starlight-1.0.1+1.17.1.jar
Labels: mod update, port

#22 fast reset 1.4.2
  legal-mods/fastreset/1.16-1.16.1/fast-reset-1.16.1-v1.4.1.jar
  legal-mods/fastreset/1.16.1/fast-reset-1.4.2+1.16.1.jar
  legal-mods/fastreset/1.16.5/fast-reset-1.16.5-v1.0.0.jar
  legal-mods/fastreset/1.16.5/fast-reset-1.4.2+1.16.5.jar
  legal-mods/fastreset/1.17-1.18.1/fast-reset-1.4.2+1.17-1.18.1.jar
  legal-mods/fastreset/1.17.1/fast-reset-1.17.1-v1.0.1.jar
  legal-mods/fastreset/1.18.2/fast-reset-1.4.2+1.18.2.jar
  legal-mods/fastreset/1.19-1.19.2/fast-reset-1.4.2+1.19-1.19.2.jar
  legal-mods/fastreset/1.19.4-1.20.4/fast-reset-1.4.2+1.19.4-1.20.4.jar
Labels: mod update, port

#23 atum 1.2.1 for 1.6.4, 1.7.2-1.7.4, & 1.9.4-1.20.4
  legal-mods/atum/1.10.2-1.11.2/atum-1.2.1+1.10.2-1.11.2.jar
  legal-mods/atum/1.10.2/atum-1.1.3+1.10.2.jar
  legal-mods/atum/1.11.2/atum-1.1.3+1.11.2.jar
  legal-mods/atum/1.12.2/atum-1.1.3+1.12.2.jar
  legal-mods/atum/1.12.2/atum-1.2.1+1.12.2.jar
  legal-mods/atum/1.13.2/atum-1.1.3+1.13.2.jar
  legal-mods/atum/1.13.2/atum-1.2.1+1.13.2.jar
  legal-mods/atum/1.14.4/atum-1.1.3+1.14.4.jar
  legal-mods/atum/1.14.4/atum-1.2.1+1.14.4.jar
  legal-mods/atum/1.15.2/atum-1.1.3+1.15.2.jar
  legal-mods/atum/1.15.2/atum-1.2.1+1.15.2.jar
  legal-mods/atum/1.16.1/atum-1.1.3+1.16.1.jar
  legal-mods/atum/1.16.1/atum-1.2.1+1.16.1.jar
  legal-mods/atum/1.16.5/atum-1.1.3+1.16.5.jar
  legal-mods/atum/1.16.5/atum-1.2.1+1.16.5.jar
  legal-mods/atum/1.17.1/atum-1.1.3+1.17.1.jar
  legal-mods/atum/1.17.1/atum-1.2.1+1.17.1.jar
  legal-mods/atum/1.18.1/atum-1.2.1+1.18.1.jar
  legal-mods/atum/1.18.2/atum-1.1.3+1.18.2.jar
  legal-mods/atum/1.18.2/atum-1.2.1+1.18.2.jar
  legal-mods/atum/1.19.2/atum-1.1.3+1.19.2.jar
  legal-mods/atum/1.19.2/atum-1.2.1+1.19.2.jar
  legal-mods/atum/1.19.4/atum-1.2.1+1.19.4.jar
  legal-mods/atum/1.20.4/atum-1.2.1+1.20.4.jar
  legal-mods/atum/1.6.4/atum-1.2.1+1.6.4.jar
  legal-mods/atum/1.7.2-1.7.4/atum-1.2.1+1.7.2-1.7.4.jar
  legal-mods/atum/1.9.4/atum-1.1.3+1.9.4.jar
  legal-mods/atum/1.9.4/atum-1.2.1+1.9.4.jar
Labels: mod update, port

#24 Update external mods for MC 1.20+
  legal-mods/fabricproxy-lite/1.20.2-1.20.4/FabricProxy-Lite-2.7.0.json
  legal-mods/krypton/1.20.2-1.20.4/krypton-0.2.6.json
  legal-mods/krypton/1.20.2/krypton-0.2.4.json
  legal-mods/lithium/1.20.3/lithium-fabric-mc1.20.3-0.12.1.json
  legal-mods/lithium/1.20.4/lithium-fabric-mc1.20.4-0.12.1.json
  legal-mods/sodium/1.20.1/sodium-fabric-0.5.8+mc1.20.1.json
  legal-mods/sodium/1.20.1/sodium-fabric-mc1.20.1-0.5.3.json
  legal-mods/sodium/1.20.2/sodium-fabric-mc1.20.2-0.5.4.json
  legal-mods/sodium/1.20.2/sodium-fabric-mc1.20.2-0.5.5.json
  legal-mods/sodium/1.20.3-1.20.4/sodium-fabric-0.5.8+mc1.20.4.json
  legal-mods/sodium/1.20.3/sodium-fabric-mc1.20.3-0.5.4.json
  legal-mods/starlight/1.20.4/starlight-1.1.3+fabric.f5dcd1a.json
Labels: mod update, port
