Repository Minecraft-Java-Edition-Speedrunning/legal-mods, pull requests merged in 2025-04, with the labels that each got.

#111 store hashes for legality tracking
  .github/workflows/update-legal-builds.yml
  get_hashes.py
  legal-builds.csv
Labels: enhancement

#124 extra options 2.0.1 for 1.0.0-1.2.5
  legal-mods/extra-options/1.0-1.0.1/extra-options-2.0.1+1.0.x.jar
  legal-mods/extra-options/1.1-1.2.5/extra-options-2.0.1+1.1-1.2.5.jar
Labels: mod port

#122 SpeedRunIGT 1.21.5 port
  legal-mods/speedrunigt/1.21.5/SpeedRunIGT-14.2+1.21.5.jar
Labels: mod port

#121 statsperworld for 1.0.0-1.2.5
  legal-mods/stats-per-world/1.0-1.2.5/StatsPerReset-1.0+1.0.0-1.2.5.jar
Labels: mod port

#118 Chunkumulator v1.1.1
  legal-mods/chunkumulator/1.15-1.15.2/chunkumulator-1.1.1+MC1.15.2.jar
  legal-mods/chunkumulator/1.15.2/chunkumulator-1.0.3+MC1.15.2.jar
  legal-mods/chunkumulator/1.16-1.16.1/chunkumulator-1.1.1+MC1.16.1.jar
  legal-mods/chunkumulator/1.16.1/chunkumulator-1.0.3+MC1.16.1.jar
  legal-mods/chunkumulator/1.16.2-1.16.5/chunkumulator-1.1.1+MC1.16.5.jar
  legal-mods/chunkumulator/1.16.5/chunkumulator-1.0.3+MC1.16.5.jar
  legal-mods/chunkumulator/1.17-1.17.1/chunkumulator-1.1.1+MC1.17.1.jar
  legal-mods/chunkumulator/1.17.1/chunkumulator-1.0.3+MC1.17.1.jar
  legal-mods/chunkumulator/1.18-1.18.2/chunkumulator-1.1.1+MC1.18.2.jar
  legal-mods/chunkumulator/1.18.2/chunkumulator-1.0.3+MC1.18.2.jar
  legal-mods/chunkumulator/1.19-1.19.4/chunkumulator-1.1.1+MC1.19.4.jar
  legal-mods/chunkumulator/1.19.2/chunkumulator-1.0.3+MC1.19.2.jar
  legal-mods/chunkumulator/1.19.4/chunkumulator-1.0.3+MC1.19.4.jar
  legal-mods/chunkumulator/1.20-1.20.1/chunkumulator-1.1.1+MC1.20.1.jar
  legal-mods/chunkumulator/1.20.1/chunkumulator-1.0.3+MC1.20.1.jar
Labels: mod compatibility, mod update

#115 stdsettings 1.2.4 for 1.19.3-1.19.4
  legal-mods/standardsettings/1.19.3-1.19.4/standardsettings-1.2.4+1.19.3-1.19.4.jar
Labels: mod port

#113 expand tabfocus dep range
  legal-mods/tabfocus/1.6-1.6.4/tab-focus-2.0.4+1.6.2.jar
Labels: mod compatibility

#126 Fix set spawn mod overlapping folders
  legal-mods/setspawnmod/1.19-1.21.5/setspawnmod-4.1.0+1.19-1.21.4.jar
  legal-mods/setspawnmod/1.19-1.21.5/setspawnmod-4.1.1+1.19-1.21.4.jar
Labels: bug

#129 add boundlesswindow mod as a new legal mod for versions 1.14+
  legal-mods/boundlesswindow/1.14+/boundlesswindow-1.0.0+1.14-1.21.x.jar
Labels: new mod
