Repository Minecraft-Java-Edition-Speedrunning/legal-mods, pull requests merged in 2025-07, with the labels that each got.

#147 Lazystronghold v1.1.4 for 1.16.1 and 1.15.2
  legal-mods/lazystronghold/1.15.2/lazystronghold-1.1.3+1.15.2.jar
  legal-mods/lazystronghold/1.15.2/lazystronghold-1.1.4+1.15.2.jar
  legal-mods/lazystronghold/1.16.1/lazystronghold-1.1.3+1.16.1.jar
  legal-mods/lazystronghold/1.16.1/lazystronghold-1.1.4+1.16.1.jar
Labels: mod update

#149 extra options 2.2.1 for 1.16.1
  legal-mods/extra-options/1.16-1.16.1/extra-options-2.2.0+1.16.1.jar
  legal-mods/extra-options/1.16-1.16.1/extra-options-2.2.1+1.16.1.jar
Labels: mod update

#150 SpeedRunIGT mc1.21.7 port
  legal-mods/speedrunigt/1.21.7/SpeedRunIGT-14.2+1.21.7.jar
Labels: mod port

#161 1.17.0 support, stdsettings 1.2.4+1.17.x
  legal-mods/atum/1.17-1.17.1/atum-1.3.1+1.17.1.jar
  legal-mods/lazystronghold/1.17-1.17.1/lazystronghold-1.1.2+1.17.1.jar
  legal-mods/sodium/1.17-1.17.1/sodium-fabric-mc1.17.1-0.3.4+build.13.json
  legal-mods/standardsettings/1.17-1.17.1/standardsettings-1.2.3.1+1.17.x.jar
  legal-mods/standardsettings/1.17-1.17.1/standardsettings-1.2.4+1.17.x.jar
  legal-mods/worldpreview/1.17-1.17.1/worldpreview-5.0.2+1.17.1.jar
Labels: mod compatibility, mod update

#167 SpeedRunIGT mc1.21.8 port
  legal-mods/speedrunigt/1.21.8/SpeedRunIGT-14.2+1.21.8.jar
Labels: mod port

#155 legacy planifolia
  legal-mods/legacy-planifolia/1.11.2-1.12.2/legacy-planifolia-1.0.0+1.11.2-1.12.2.jar
  legal-mods/legacy-planifolia/1.7.10/legacy-planifolia-1.0.0+1.7.10.jar
  legal-mods/legacy-planifolia/1.8.9/legacy-planifolia-1.0.0+1.8.9.jar
  legal-mods/legacy-planifolia/1.8/legacy-planifolia-1.0.0+1.8.jar
Labels: new mod

#171 optifabric 2.3.5
  legal-mods/optifabric/1.0-1.2.5/optifabric-2.3.4+b1.7.3-1.14.4.jar
  legal-mods/optifabric/1.0-1.2.5/optifabric-2.3.5+b1.7.3-1.14.4.jar
  legal-mods/optifabric/1.3-1.13.2/optifabric-2.3.4+1.3-1.13.2.jar
  legal-mods/optifabric/1.3.1-1.13.2/optifabric-2.3.5+1.3.1-1.13.2.jar
Labels: mod update

#173 forceport 1.3.0
  legal-mods/forceport/1.12/forceport-1.2.0+1.12.jar
  legal-mods/forceport/1.12/forceport-1.3.0+1.12.jar
  legal-mods/forceport/1.14+/forceport-1.2.0.jar
  legal-mods/forceport/1.14+/forceport-1.3.0.jar
  legal-mods/forceport/1.3.1-1.13.2/forceport-1.3.0.jar
Labels: mod update

#174 Atum 2.7
  legal-mods/atum/1.16.1/atum-2.6+1.16.1.jar
  legal-mods/atum/1.16.1/atum-2.7+1.16.1.jar
Labels: mod update
